.projectsSection {
  margin: 0 auto;
  text-align: center;
  padding: 35px 30px;
}

img {
  width: 75%;
}

.projectCard {
  width: 100px;
  max-width: 1000px;

}

.projectCard p {
  padding-left: 45px;
  padding-right: 45px;
  /* font-size: large; */
}

@media only screen and (max-width: 700px) {

  img {
    width: 100%;
  }

}