.projectsSection {
  margin: 0 auto;
  text-align: center;
  padding: 35px 30px;
  /* background-color: #1d809f; */
  font-size: larger;
}

img {
  width: 500px;
}

.projectCard {
  width: 100px;
  max-width: 1000px;

}

.projectCard p {
  padding-left: 45px;
  padding-right: 45px;
  /* font-size: large; */
}